In [1]:
import numpy as np
import pandas as pd

In [34]:
df=pd.read_csv(r"D:\data science 2025\project_intership\chatgpt.csv")
df

        Country  search_index  keyword
0         China           100  chatgpt
1     Sri Lanka            94  chatgpt
2   Philippines            80  chatgpt
3         Nepal            79  chatgpt
4      Pakistan            77  chatgpt
..          ...           ...      ...
82       Poland            10  chatgpt
83         Iran             8  chatgpt
84        Japan             7  chatgpt
85      Ukraine             7  chatgpt
86       Russia             3  chatgpt

[87 rows x 3 columns]

In [28]:
df2=pd.read_csv(r"D:\data science 2025\project_intership\deep learning.csv")
df2.head()

       Country Deep learning: (24/02/2021 - 24/02/2026)        keyword
0        China                                      100  deep learning
1  South Korea                                       33  deep learning
2     Ethiopia                                       15  deep learning
3    Hong Kong                                       12  deep learning
4      Tunisia                                       10  deep learning

In [27]:
df3=pd.read_csv(r"D:\data science 2025\project_intership\generative ai.csv")
df3.head()

       Country  Generative ai        keyword
0    Singapore            100  generative ai
1    St Helena             77  generative ai
2        China             63  generative ai
3  South Korea             48  generative ai
4    Hong Kong             48  generative ai

In [26]:
df4=pd.read_csv(r"D:\data science 2025\project_intership\ML.csv")
df4.head()

       Country  Machine learning keyword
0        China               100      ML
1    St Helena                39      ML
2  South Korea                36      ML
3    Singapore                35      ML
4     Ethiopia                34      ML

In [25]:
df5=pd.read_csv(r"D:\data science 2025\project_intership\datascience.csv")
df5.head()

    Column1       Column2      keyword
0   Country  data science  datascience
1  Zimbabwe           100  datascience
2     India            87  datascience
3     Kenya            75  datascience
4  Ethiopia            68  datascience